*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
@font-face {
    font-family: my-font;
    src: url(./Miama.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;

}
/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
/* shared-style-start */
.container{
    max-width: 1060px;
    margin: 0 auto;
}
.shape{
    font-family: my-font;
    font-weight: 400px;
    font-style: italic;
 
}

/* shared-style-end */

  /* website-style-start */
  /* hedar-section-start */
  .main-hedar{
    background:#181818;
    padding: 30px 0;

  }
  .flex-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .manu-logo a{
    text-decoration: none;
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
    font-weight: 800px;
    font-style: italic;

  }
  .manu-item .flex-two{
    display: flex;
  }
  .main-hedar .flex-two li{
    list-style-type: none;
    margin-right: 40px;
  }
  .flex-two li a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 1);

  }
  .special{
    background: rgba(230, 83, 60, 1);
    padding: 8px 20px 10px 20px;
    border-radius: 60px;
  }
  .manu-item{
    border: 2px solid #2e2d2d;
    padding: 10px 10px 10px 0px;
    border-radius: 25px;

  }
  .toggle-bar{
    display: none;
  }
  .flex-three{
    display: flex;
    justify-content: space-between;
  }
  .body-details{
    margin-top: 50px;
    max-width: 520px;
  }
  .body-details h2{
    font-size: 78px;
    line-height: 93px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);

  }
  .body-details p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-bottom: 15px;

  }
  .first-button{
    padding: 15px 60px;
    border-radius: 40px;
    border: none;
    background: rgba(230, 83, 60, 1);
  }
  .first-button a{
    text-decoration: none;
    font-weight: 600px;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);

  }
  .secound-button{
    padding: 15px 60px;
    border-radius: 40px;
    border: 1px solid #E3E3E3;
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
  }
  .secound-button a{
    text-decoration: none;
    font-weight: 600px;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);

  }


  .body-img img{
    width: 100%;
  }
  .first-count{
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 193px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    margin-top: -450px;
    margin-left: 950px;

  }
  .main-hedar{
    position: relative;
  }
  .first-count h2{
    font-weight: 900px;
    font-size: 40px;
    line-height: 40px;
    color:  rgba(255, 255, 255, 1);
    
  }
  .first-count p{
    font-weight: 400px;
    font-size: 13px;
    line-height: 20px;
    color:rgba(255, 255, 255, 0.65);
    

  }
  .secound-count{
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    max-width: 206px;
    padding: 15px;
    border-radius: 5%;
    position: absolute;
    margin-top: -150px;
    margin-left: 650px;


  }
  .flex-four{
    display: flex;
    gap: 20px;
  }
  .carcale{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(230, 83, 60, 1);
    padding: 15px;
    border-radius: 50%;
  }
  .carcale i{
    color: #FFFF;
  }
  .carcale-content h3{
    font-weight: 900px;
    font-size: 40px;
    line-height: 40px;
    color:  rgba(255, 255, 255, 1);
  }
  .carcale-content p{
    font-weight: 400px;
    font-size: 13px;
    line-height: 20px;
    color:rgba(255, 255, 255, 0.65);
  }

  /* hedar-section-end */
  /* habit-section-start */
  .habit{
    padding-top: 40px;
    padding-bottom: 60px;
    background: #181818;
  }
  .habit-details{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .habit-details-content{
    max-width: 670px;
  }
  .habit-details-content h2{
    font-weight: 900px;
    font-size: 40px;
    line-height: 40px;
    color:  rgba(255, 255, 255, 1);
    text-align: center;
  }
  .habit-details-content p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;

  }
  .habit-cercale{
    margin-top: 15px;
    display: flex;
    gap: 47px;
    
  }
  .cercal-redious{
    max-width: 231px;
    text-align: center;
  }
  .cercale-img img{
    border-radius: 50%;
  }
  .cercale-img{
    margin-bottom: 10px;
  }
  .cercale-content h3{
    font-weight: 600px;
    font-size: 18px;
    line-height: 21px;
    color:  rgba(255, 255, 255, 1);
    margin-bottom: 5px;


  }
  .cercale-content p{
    font-size: 14px;
    font-weight: 400px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.5);


  }



  /* habit-section-end */
  /* run-section-start */
  .run{
    background: #181818;
    padding-bottom: 60px;
  }
  .run-containt{
    background: rgba(34, 34, 34, 1);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 15px;

  }
  .run-details{
    max-width: 443px;
  }
  .run-details h2{
    font-weight: 900px;
    font-size: 55px;
    line-height: 57px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;

  }

.run-details p{
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;

}
.run-details .third-button{
  padding: 10px 45px;
  border-radius: 20px;
  border: none;
  background: rgba(230, 83, 60, 1);

}
.run-details .third-button a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 600px;
  font-size: 18px;
  line-height: 22px;

}

  .run-img img{
    width: 100%;
    border-radius: 10px;
  }

  .run-img{
    max-width: 366px;
  }

  /* run-section-end */

  /* Training-section-start */
  .training{
    background-color: #181818;
    padding-bottom: 70px;
  }
  .training-tittle{
    max-width: 600px;
  }
  .training-tittle h2{
    font-weight: 900px;
    font-size: 48px;
    line-height: 57px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
  }
  .training-tittle p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 35px;

  
  }
  .training-photo{
    display: flex;
  }
  .training-live-photo{
    width: 250px;
    background-image: url(../images/exercise1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  .training-live-photo::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(6, 255, 210, 0.5);

  }





  .training-live-photo p{
    padding-top: 170px;
    padding-bottom: 15px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 1);

  }
  .training-live-img{
    background-image: url(../images/exercise2\ -\ Copy.png);
    width: 520px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

  }
  .training-live-img::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(255, 0, 0, 0.3);

  }






  .training-live-img p{
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 200px;
    color: rgba(255, 255, 255, 1);

  }
  .training-live-picture{
    background-image: url(../images/exercise3.png);
    width: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;


  }
  .training-live-picture::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);

  }







  .training-live-picture p{
    padding-top: 180px;
    color: rgba(255, 255, 255, 1);

  }
  .training-live-photo-two{
    width: 425px;
    background-image: url(../images/exercise4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 130px;
    padding-bottom:180px;
    position: relative;

  }
  .training-live-photo-two::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);

  }






  .training-live-photo-two p{
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
    margin-left: 80px;
  }
  .training-live-img-two{
    width: 288px;
    background-image: url(../images/exercise5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

  }

  .training-live-img-two::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(66, 255, 0, 0.3);

  }





  .training-live-img-two p{
    color: rgba(255, 255, 255, 1);
  }
  .training-live-picture-two{
    width: 347px;
    background-image: url(../images/exercise6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

  }

  .training-live-picture-two::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 71, 255, 0.3);

  }






  .training-live-picture-two p{
    color: rgba(255, 255, 255, 1);
  }
  .min-margin{
    margin-top: -30px;
  }
  /* Training-section-end */
  /* bmi-section-start */
  .bmi{
    background-color: #181818;
    padding-bottom: 70px;
  }
  .bmi-tittle{
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .bmi-tittle h2{
    margin-bottom: 5px;
    font-weight: 900px;
    font-size: 48px;
    line-height: 57px;
    color: rgba(255, 255, 255, 1);

  }
  .bmi-tittle p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);

  }
  .bmi-calculator{
    background: rgba(34, 34, 34, 1);

  }
  .bmi-detail h3{
    font-size: 28px;
    line-height: 33px;
    font-weight: 900px;
    color: rgba(255, 255, 255, 1);
    padding: 25px 0;

  }
  .bmi-calculation-flex{
    display: flex;
    justify-content: space-between;
    /* gap: 70px; */
  }
  .bmi-chart{
    width: 310px;
    padding-top: 20px;
  }
  .bmi-calculation{
    width: 540px;
    padding-top: 20px;
  }
  .bmi-tbale{
    padding-bottom: 80px;
    padding-top: 30px;
  }
  .table, th, td{
    border: 2px solid #797878;
    border-collapse: collapse;
    padding: 15px 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400px;
    line-height: 17px;
  }
  thead tr td{
    color: rgba(255, 255, 255, 1);
    font-weight: 500px;
    font-size: 16px;
    line-height: 19px;

  }
  .bmi-second-tittle h3{
    font-size: 28px;
    line-height: 33px;
    font-weight: 900px;
    color: rgba(255, 255, 255, 1);
    padding-top: 25px;
    padding-bottom: 15px;
  }
  .bmi-second-tittle p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;

  }


  form input{
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: none;

  }
  form input::placeholder{
    padding: 20px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);

  }
  form select{
    width: 100%;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    font-weight: 400px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);

  }
  form .Extra-one{
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;


  }
  .form-flex-one{
    display: flex;
    gap: 10px;
  }
  .form-flex-two{
    display: flex;
    gap: 10px;
  }
  form button{
    background: rgba(230, 83, 60, 1);
    padding: 16px 55px 16px 55px;
    border-radius: 40px;
    border: none;
  }
  form button a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 600px;
    font-size: 18px;
    line-height: 22px;

  }

  /* bmi-section-end */
  /* team-section-start */
  .team{
    background-color: #181818;
    padding-bottom: 60px;
  }
  .team-tittle{
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .team-tittle h2{
    font-weight: 900px;
    font-size: 48px;
    line-height: 57px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;

  }
  .team-tittle p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 60px;

  }
  .team-man{
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;

  }
  .team-man-flex{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
  }
  .team-man-photo{
    width: 353px;
    background-image: url(../images/trainer1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    
  }
  
  .team-man-photo-two{
    width: 353px;
    background-image: url(../images/trainer2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;


  }
  .team-man-photo-three{
    width: 353px;
    background-image: url(../images/trainer3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;


  }
  .team-man-photo-four{
    width: 353px;
    background-image: url(../images/trainer4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

  }
  .team-man-photo-five{
    width: 353px;
    background-image: url(../images/trainer5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

  }
  .team-man-photo-six{
    width: 353px;
    background-image: url(../images/trainer6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;

  }
  .team-photo-tittle{
    padding-top: 200px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .team-photo-tittle h4{
    font-weight: 900px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);

  }
  .team-photo-tittle p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);

  }
  /* team-section-end */

  /* fitness-section-start */

  .fitness-flex{
    display: flex;
  }
  .fitness-tittle{
    width: 50%;
  }
  .fitness-details{
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  .fitness{
    padding-top: 50px;
    background: #1f1d1d;
    margin-top: -5px;
    padding-bottom: 40px;

  }
  .fitness-tittle-sub{
    width: 443px;
  }
  .fitness-tittle h1{
    font-weight: 800px;
    font-size: 70px;
    line-height: 84px;
    color: rgba(230, 83, 60, 1);
    padding-bottom: 10px;

  }
  .fitness-tittle p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);

  }

  .fitness-sub-one  h3{
    font-weight: 700px;
    font-size: 32px;
    line-height: 38px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;

  }
  .fitness-sub-two h3{
    font-weight: 700px;
    font-size: 32px;
    line-height: 38px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;

  }
  .fitness-sub-one ul li{
    list-style-type: none;
    margin: 18px 0;
  }
  .fitness-sub-two ul li{
    list-style-type: none;
    margin: 18px 0;

  }
  .fitness-sub-one ul li a{
    text-decoration: none;
    font-weight: 400px;
    font-size: 23px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.5);

  }
  .fitness-sub-two ul li a{
    text-decoration: none;
    font-weight: 400px;
    font-size: 23px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.5);


  }
  .horizental{
    background-color: #181818;
    padding-bottom: 40px;
  }
  .var{
    border: 2px solid rgba(255, 255, 255, 0.1)
  }
  .copy-right{
    background-color: #181818;
    padding-bottom: 30px;

  }
  .copy-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .copy-tittle p{
    font-weight: 400px;
    font-size: 20px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);

  }
  /* fitness-section-end */
  /* website-style-end */
  /* Responsive-style-start */
  @media screen and (max-width:576px){
    .main-hedar{
        padding-top: 20;
    }
    .container{
        max-width: 353px;
        margin: 0 auto;
    }
    .manu-item .flex-two{
        display: none;
    }
    .toggle-bar{
        display:block;
        color: white;
        font-size: 30px;
    }
    .flex-three{
        flex-direction: column;
    }
    .body-details h2{
      font-size: 46px;
      line-height: 43px;
      font-weight: 900;
      color: rgba(255, 255, 255, 1);
  
    }
    .first-button{
      padding: 15px 25px;
    }
    .secound-button{
      padding: 15px 25px;
    }
    .first-count{
      margin-left: 200px;
      margin-top: -500px;
    }
    .secound-count{
      margin-left: 20px;
      margin-top: -300px;
    }
    .habit{
      margin-top: -5px;
    }

    .habit-cercale{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .habit-details-content h2{
      font-size: 35px;
    }
    .run{
      margin-top: -5px;
    }
    .run-containt{
      flex-direction: column;
    }
    .run-details h2{
      font-size: 45px;
    }
    .run-details .third-button{
      margin-bottom: 25px;
      width: 100%;
    }
    .training{
      margin-top: -5px;
    }
    .training-tittle{
      max-width: 320px;
    }
    .training-live-picture{
      display: none;
    }
    .training-live-picture-two{
      display: none;
    }
    .training-live-photo{
      width: 50%;
    }
    /* .training-live-photo p{
      padding: 0;
    } */
    .training-live-img{
      width: 50%;
    }
    .training-live-photo-two{
      width: 50%;
    }
    .training-live-img-two{
      width: 50%;

    }
    .bmi{
      margin-top: -5px;
    }
    .bmi-tbale{
      padding-bottom: 30px;
      padding-top: 30px;
    }
  
    .bmi-tittle{
      max-width:350px;
      margin: 0 auto;
    }
  
    .bmi-calculation-flex{
      flex-direction: column;
    }
    .bmi-calculation{
      width: 350px;
      margin-top: 0px;
      padding-bottom: 40px;
  
  }
  .team-tittle{
    width: 350px;
    margin-top: -5px;
  }
  .team-man-flex{
    flex-direction: column;
  }
  .team-man-photo{
    width: 300px;
  }
  .team-man-photo-two{
    width: 300px;
  }
  .team-man-photo-three{
    width: 300px;
  }
  .team-man-photo-four{
    width: 300px;
  }
  .team-man-photo-five{
    width: 300px;
  }
  .team-man-photo-six{
    width: 300px;
  }
  .fitness-flex{
    flex-direction: column;
  }
  .fitness-tittle-sub{
    width: 360px;
    margin-bottom: 25px;
  }
  .fitness-details{
    flex-direction: column;
  }
  .fitness-details{
    width: 360px;
  }
  .horizental{
    margin-top: -5px;
  }
  .var{
    width: 300px;
  }
  .copy-right{
    margin-top: -5px;
  }
  .copy-tittle{
    width: 300px;
  }
}

  /* Responsive-style-end */
  
