*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}
@font-face {
    font-family: my-font;
    src: url(./Miama.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", sans-serif;

}
/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
/* shared-style-start */
.container{
    max-width: 1060px;
    margin: 0 auto;
}
.shape{
    font-family: my-font;
    font-weight: 400px;
    font-style: italic;
 
}

/* shared-style-end */

  /* website-style-start */
  /* hedar-section-start */
  .main-hedar{
    background:#181818;
    padding: 30px 0;

  }
  .flex-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .manu-logo a{
    text-decoration: none;
    color: rgba(230, 83, 60, 1);
    font-size: 36px;
    font-weight: 800px;
    font-style: italic;

  }
  .manu-item .flex-two{
    display: flex;
  }
  .main-hedar .flex-two li{
    list-style-type: none;
    margin-left: 40px;
  }
  .flex-two li a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 1);

  }
  .manu-item{
    position: relative;
  }
  .toggol-bar{
    color: #FFFF;
    font-size: 25px;
    position: absolute;
    margin-top: -20px;
    margin-left: 330px;
    display: none;
  }
  .flex-three{
    display: flex;
    justify-content: space-between;
  }
  .body-details{
    margin-top: 50px;
    max-width: 520px;
  }
  .body-details h2{
    font-size: 78px;
    line-height: 93px;
    font-weight: 900;
    color: rgba(255, 255, 255, 1);

  }
  .body-details p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-bottom: 15px;

  }
  .first-button{
    padding: 15px 60px;
    border-radius: 40px;
    border: none;
    background: rgba(230, 83, 60, 1);
  }
  .first-button a{
    text-decoration: none;
    font-weight: 600px;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);

  }
  .secound-button{
    padding: 15px 60px;
    border-radius: 40px;
    border: 1px solid #E3E3E3;
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
  }
  .secound-button a{
    text-decoration: none;
    font-weight: 600px;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);

  }


  .body-img img{
    width: 100%;
  }
  .first-count{
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 193px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    margin-top: -450px;
    margin-left: 950px;

  }
  .main-hedar{
    position: relative;
  }
  .first-count h2{
    font-weight: 900px;
    font-size: 40px;
    line-height: 40px;
    color:  rgba(255, 255, 255, 1);
    
  }
  .first-count p{
    font-weight: 400px;
    font-size: 13px;
    line-height: 20px;
    color:rgba(255, 255, 255, 0.65);
    

  }
  .secound-count{
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    max-width: 206px;
    padding: 15px;
    border-radius: 5%;
    position: absolute;
    margin-top: -150px;
    margin-left: 650px;


  }
  .flex-four{
    display: flex;
    gap: 20px;
  }
  .carcale{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(230, 83, 60, 1);
    padding: 15px;
    border-radius: 50%;
  }
  .carcale i{
    color: #FFFF;
  }
  .carcale-content h3{
    font-weight: 900px;
    font-size: 40px;
    line-height: 40px;
    color:  rgba(255, 255, 255, 1);
  }
  .carcale-content p{
    font-weight: 400px;
    font-size: 13px;
    line-height: 20px;
    color:rgba(255, 255, 255, 0.65);
  }

  /* hedar-section-end */
  /* habit-section-start */
  .habit{
    padding-top: 40px;
    background: #181818;
  }
  .habit-details{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .habit-details-content{
    max-width: 670px;
  }
  .habit-details-content h2{
    font-weight: 900px;
    font-size: 40px;
    line-height: 40px;
    color:  rgba(255, 255, 255, 1);
    text-align: center;
  }
  .habit-details-content p{
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;

  }
  .habit-cercale{
    margin-top: 15px;
    display: flex;
    gap: 47px;
    
  }
  .cercal-redious{
    max-width: 231px;
    text-align: center;
  }
  .cercale-img img{
    border-radius: 50%;
  }
  .cercale-img{
    margin-bottom: 10px;
  }



  /* habit-section-end */
  /* website-style-end */
  /* Responsive-style-start */
  @media screen and (max-width:576px){
    .main-hedar{
        padding: 0;
    }
    .container{
        max-width: 353px;
        margin: 0 auto;
    }
    .manu-item{
        display: none;
    }
    .toggol-bar{
        display:block;
    }
    .flex-three{
        flex-direction: column;
    }
    .body-details h2{
      font-size: 46px;
      line-height: 43px;
      font-weight: 900;
      color: rgba(255, 255, 255, 1);
  
    }
    .first-button{
      padding: 15px 25px;
    }
    .secound-button{
      padding: 15px 25px;
    }
    .first-count{
      margin-left: 200px;
      margin-top: -500px;
    }
    .secound-count{
      margin-left: 20px;
      margin-top: -300px;
    }

    .habit-cercale{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

  }


  /* Responsive-style-end */
  
